@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: x-large;
}

body {
  background-color: white;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.piano {
  margin: auto;
}

.homeButton {
  width: 30%;
  height: 100px;
  margin: 15px;
}

.optionButton {
  margin-left: 10px;
}

.join {
  background-color: rgb(78, 196, 78);
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  margin: 25px;
  text-align: center;
}

.title {
  font-size: xx-large;
}
